*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-size: 1.8rem;
  font-family: "Bai Jamjuree", sans-serif;
  color: $color-grey-light;
}

ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

.btn {
  font-family: inherit;
  font-size: 1.7rem;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  border: none;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;

  &:not(:last-child) {
    margin-right: 2rem;
    @media only screen and (max-width: $bp-tiny) {
      margin-right: auto;
      margin-bottom: 2rem;
    }
  }

  @media only screen and (max-width: $bp-tiny) {
    display: block;
    @include center;
  }
  &:hover {
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(0);
  }
}
