*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 56em) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.8rem;
  font-family: "Bai Jamjuree", sans-serif;
  color: #9fabb2; }

ul {
  list-style: none; }

a,
a:visited {
  text-decoration: none; }

.btn {
  font-family: inherit;
  font-size: 1.7rem;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  border: none;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  outline: none; }
  .btn:not(:last-child) {
    margin-right: 2rem; }
    @media only screen and (max-width: 25em) {
      .btn:not(:last-child) {
        margin-right: auto;
        margin-bottom: 2rem; } }
  @media only screen and (max-width: 25em) {
    .btn {
      display: block;
      margin-left: auto;
      margin-right: auto; } }
  .btn:hover {
    transform: translateY(-2px); }
  .btn:active {
    transform: translateY(0); }

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/src/img/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: 100%; }
  @media only screen and (max-width: 56em) {
    .header {
      background-image: url("/src/img/bg-header-mobile.png"); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: auto;
      padding-top: 7rem;
      margin-bottom: 15rem; } }
  .header__logo-container {
    margin-bottom: 4rem;
    text-align: center; }
  .header__heading-container {
    text-align: center;
    width: 40%;
    margin-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
    width: 65%; }
    @media only screen and (max-width: 37.5em) {
      .header__heading-container {
        width: 65%; } }
  .header__button-container {
    text-align: center; }

.section-tracking {
  padding-bottom: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .section-tracking {
      padding-left: 4rem;
      padding-right: 4rem; } }
  .section-tracking__heading-container {
    text-align: center;
    width: 40%;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem; }
    @media only screen and (max-width: 37.5em) {
      .section-tracking__heading-container {
        width: 65%; } }
  .section-tracking__image-container {
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .section-tracking__image-container {
        margin-bottom: 4rem; } }
  .section-tracking__img {
    transform: translateX(-3rem);
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .section-tracking__img {
        transform: translateX(0); } }
  .section-tracking__content-container {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .section-tracking__content-container {
        flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .section-tracking__content-text-container {
      text-align: center; } }
  .section-tracking__content-heading-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto; }

.section-access {
  padding: 5rem 2rem; }
  .section-access__heading-container {
    text-align: center;
    width: 40%;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 37.5em) {
      .section-access__heading-container {
        width: 65%; } }
  .section-access__img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto; }

.section-tools {
  padding: 5rem 2rem; }
  .section-tools__heading-container {
    text-align: center;
    width: 40%;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem; }
    @media only screen and (max-width: 37.5em) {
      .section-tools__heading-container {
        width: 65%; } }
  .section-tools__examples {
    display: flex;
    margin-bottom: 20rem;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .section-tools__examples {
        flex-direction: column;
        margin-bottom: 10rem; } }
  .section-tools__example {
    flex-basis: 30%;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .section-tools__example:not(:last-child) {
        margin-bottom: 4rem; } }
  .section-tools__img {
    width: 3.5rem;
    height: 3.5rem; }
  .section-tools__partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 37.5em) {
      .section-tools__partners {
        flex-direction: column; } }
  .section-tools__partner {
    flex-basis: 15%; }
    @media only screen and (max-width: 37.5em) {
      .section-tools__partner:not(:last-child) {
        margin-bottom: 4rem; } }
  .section-tools__partner-img {
    width: 100%; }

.section-outro {
  padding: 5rem 2rem; }
  .section-outro__heading-container {
    text-align: center;
    width: 40%;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .section-outro__heading-container {
        width: 65%; } }
  .section-outro__button-container {
    text-align: center;
    margin-bottom: 10rem; }

.footer {
  background-color: #eee;
  padding: 2rem; }
  .footer__logo-container {
    margin-right: auto; }
    @media only screen and (max-width: 56em) {
      .footer__logo-container {
        margin: 0; } }
  .footer__logo {
    height: 5rem;
    width: 5rem; }
  .footer__list-container {
    width: 50%;
    margin-right: auto; }
    @media only screen and (max-width: 56em) {
      .footer__list-container {
        margin: 0; } }
  .footer__list {
    display: flex;
    padding: 0;
    flex-wrap: wrap; }
    @media only screen and (max-width: 37.5em) {
      .footer__list {
        flex-direction: column;
        text-align: center; } }
  .footer__list-item {
    flex-basis: 30%;
    margin-bottom: 2rem;
    margin-right: 0.5rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__list-item {
        margin-right: 0; } }
  .footer__list-link {
    color: #4c545d;
    transition: all 0.2s; }
    .footer__list-link:hover {
      color: #26baa4; }
  .footer__social-media-container {
    display: flex;
    align-items: center;
    margin-right: 4.25rem; }
    .footer__social-media-container > *:not(:last-child) {
      margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__social-media-container {
        margin-right: 0; } }

.container {
  max-width: 140rem;
  margin: 0 auto; }

.cyan {
  background-color: #26baa4;
  box-shadow: 0 0.5rem 2rem rgba(38, 186, 164, 0.2); }

.blue {
  background-color: #6173ff;
  box-shadow: 0 0.5rem 2rem rgba(97, 115, 255, 0.2); }

.heading-secondary {
  font-size: 3.5rem; }

.heading-main,
.heading-secondary,
.heading-tertiary {
  color: #4c545d; }

.heading-container {
  text-align: center;
  width: 40%;
  margin-bottom: 2rem; }

.social-media {
  width: 2rem;
  height: 2rem;
  fill: #4c545d;
  transition: all 0.2s; }
  .social-media:hover {
    fill: #26baa4; }

.u-fl {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 56em) {
    .u-fl {
      justify-content: space-between; } }
  @media only screen and (max-width: 37.5em) {
    .u-fl {
      flex-direction: column; }
      .u-fl > *:not(:last-child) {
        margin-bottom: 2rem; } }
